body{

	padding-top: 50px;
	.color-black{
		color: #ecf0f1;
		background-color: #333;
	}
	.color-gray{
		background-color: #F5F5F5;
	}
	.thumbnail{
		margin-top: 20px;
		&.sm-margin{
			margin-top:10px;
			margin-bottom: 10px;
		}
	}
	.topic-title{
		&.visible-xs{
			font-size: 85%;
		}
	}
	.view-count, .fav-count{
		font-size: 80%;
		.visible-xs{
			//font-size: 85%;
		}
	}
	.no-padding{
		padding: 0px;
	}
	.glyphicon{
		&.float-type{
			float: left;
			margin-right: 5px;
		}
	}

	.update-time{
		.visible-xs{
			font-size: 70%;
		}
	}
	.vertical-center{
	    display: inline-block;
	    vertical-align: middle;
	    float: none;
	}

	.a-container{
		text-decoration:none ;
		color:black;
	}
	p{
		&.sm-size{
			font-size: 90% !important;
		}
	}
	.is-fav{
		color: yellow;
	}
	.padding-top-down-10{
		padding:10px 0px 10px 0px;
	}
	.font-gray{
		color:#7f8c8d;
	}
	.small-size{
		font-size: 70%;
	}
	.md-size{
		font-size: 80%;
	}
	.comment-items:hover{
		cursor: pointer;
	}
	.video-size-sm{
		width: 80%;
	}
}
