/* line 1, ../sass/koMatome.scss */
body {
  background-color: #F5F5F5;
}
/* line 5, ../sass/koMatome.scss */
body .row .color-white {
  background-color: white;
}
/* line 8, ../sass/koMatome.scss */
body .row .margin-top-20 {
  margin-top: 20px;
}
/* line 11, ../sass/koMatome.scss */
body .row .margin-top-10 {
  margin-top: 10px;
}
/* line 14, ../sass/koMatome.scss */
body .row .padding-10 {
  padding: 10px;
}
/* line 17, ../sass/koMatome.scss */
body .row .have-border {
  border: solid 1px #ddd;
  padding: 10px;
}
/* line 21, ../sass/koMatome.scss */
body .row .padding-bottom-10 {
  padding-bottom: 10px;
}
/* line 24, ../sass/koMatome.scss */
body .row .margin-bottom-10 {
  margin-bottom: 10px;
}
/* line 27, ../sass/koMatome.scss */
body .row .no-margin {
  margin: 0px;
}
/* line 30, ../sass/koMatome.scss */
body .row .no-border {
  border: none;
}
/* line 33, ../sass/koMatome.scss */
body .row .no-background-color {
  background-color: transparent;
}
/* line 36, ../sass/koMatome.scss */
body .row .have-bottom-line {
  border-bottom: solid 2px #fff;
}
/* line 39, ../sass/koMatome.scss */
body .row .caption {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(245, 247, 248, 0.75);
  width: 100%;
  height: 100%;
  padding: 2%;
  text-align: center;
  z-index: 2;
}
/* line 49, ../sass/koMatome.scss */
body .row .caption i {
  color: #fff;
  margin-top: 18%;
  font-size: 3em;
}
/* line 55, ../sass/koMatome.scss */
body .row .like-button:hover {
  cursor: pointer;
}
/* line 58, ../sass/koMatome.scss */
body .row .comment-message {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
